@using System.Net
@using System.Net.Http
@using Newtonsoft.Json
@using OnovaStore.Models.Category
@using OnovaStore.Models.Product
@inject System.Security.Claims.IClaimPrincipalManager claimManager
@inject IRestClient restClient
@model dynamic
@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
    var isAuthenticated = claimManager.IsAuthenticated;
    var listProduct = new List<Category>();
}
@using (var client = restClient.CreateClient(User))
{
    using (var response = await client.GetAsync("/api/category/GetCategoriesForIndexPage"))
    {
        dynamic result = response.StatusCode == HttpStatusCode.OK
            ? await response.Content.ReadAsStringAsync()
            : null;

        if (result != null)
        {
            listProduct = JsonConvert.DeserializeObject<List<Category>>(result);
        }
    }
}

<!-- Product Blocks -->
<section class="container g-py-100">
    @{
        if (listProduct != null)
        {
            foreach (var category in listProduct)
            {
                <div class="text-center mx-auto g-max-width-600 g-mb-50">
                    <h2 class="g-color-black mb-4">@category.Name</h2>
                </div>
                <div class="row g-mx-minus-10 g-mb-50">
                    @foreach (var product in category.Product)
                    {
                        <div class="col-md-6 col-lg-4 g-px-10">
                            <!-- Article -->
                            <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
                                <!-- Article Image -->
                                <div class="g-max-width-100 g-mr-15">
                                    <img class="d-flex w-100" src="@product.ProductThumbImage" alt="Image Description">
                                </div>
                                <!-- End Article Image -->
                                <!-- Article Info -->
                                <div class="media-body align-self-center">
                                    <h4 class="h5 g-mb-7">
                                        <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="@product.Slug">@product.Name</a>
                                    </h4>
                                    <!-- End Article Info -->
                                    <!-- Article Footer -->
                                    <footer class="d-flex justify-content-between g-font-size-16">
                                        <span class="g-color-black g-line-height-1">$@product.DisplayPrice</span>
                                        <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
                                            <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v3 g-pr-10 g-mr-6">
                                                <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#" onclick="addToCart(@product.ProductId);return false;" title="Add to Cart"
                                                   data-toggle="tooltip"
                                                   data-placement="top">
                                                    <i class="icon-finance-100 u-line-icon-pro"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </footer>
                                    <!-- End Article Footer -->
                                </div>
                            </article>
                            <!-- End Article -->
                        </div>
                    }
                </div>
                <div class="text-center">
                    <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" href="#!">See more</a>
                </div>

                <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50">
            }
        }
    }
</section>
<!-- End Product Blocks -->

