@using OnovaStore.Models.Category
@using OnovaStore.Models.Product
@inject System.Security.Claims.IClaimPrincipalManager claimManager
@model dynamic
@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
    var isAuthenticated = claimManager.IsAuthenticated;
}

<!-- Product Blocks -->
<section class="container g-py-100">
    @{
        if (ViewBag.HeaderCategories != null)
        {
            var categories = (List<Category>)ViewBag.CategoryProducts;

            foreach (var category in categories)
            {
                <div class="text-center mx-auto g-max-width-600 g-mb-50">
                    <h2 class="g-color-black mb-4">@category.Name</h2>
                </div>
                <div class="row g-mx-minus-10 g-mb-50">
                    @foreach (var product in category.Product)
                    {
                        <div class="col-md-6 col-lg-4 g-px-10">
                            <!-- Article -->
                            <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
                                <!-- Article Image -->
                                <div class="g-max-width-100 g-mr-15">
                                    <img class="d-flex w-100" src="@product.ProductThumbImage" alt="Image Description">
                                </div>
                                <!-- End Article Image -->
                                <!-- Article Info -->
                                <div class="media-body align-self-center">
                                    <h4 class="h5 g-mb-7">
                                        <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="@product.Slug">@product.Name</a>
                                    </h4>
                                    <!-- End Article Info -->
                                    <!-- Article Footer -->
                                    <footer class="d-flex justify-content-between g-font-size-16">
                                        <span class="g-color-black g-line-height-1">$@product.DisplayPrice</span>
                                        <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
                                            <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v3 g-pr-10 g-mr-6">
                                                <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#" onclick="addToCart(@product.ProductId);return false;" title="Add to Cart"
                                                   data-toggle="tooltip"
                                                   data-placement="top">
                                                    <i class="icon-finance-100 u-line-icon-pro"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item align-middle">
                                                <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="@(isAuthenticated ? "" : "#wishList")" @(isAuthenticated ? "" : @"data-modal-target=#wishList data-modal-effect=fadein") title="Add to Wishlist"
                                                   data-toggle="tooltip"
                                                   data-placement="top">
                                                    <i class="icon-medical-022 u-line-icon-pro"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </footer>
                                    <!-- End Article Footer -->
                                </div>
                            </article>
                            <!-- End Article -->
                        </div>
                    }
                </div>
                <div class="text-center">
                    <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" href="#!">See more</a>
                </div>

                <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50">
            }
        }
    }
</section>
<!-- End Product Blocks -->

<div id="wishList" class="text-left g-max-width-300 g-bg-white g-overflow-y-auto g-pa-20" style="display: none; width: 700px">
    <button type="button" class="close" onclick="Custombox.modal.close();">
        <i class="hs-icon hs-icon-close"></i>
    </button>
    <h4 class="g-mb-20">Function require login</h4>
    <p>
        You have to <a href="@Url.Action("Login", "Account", new {Area = ""})">login</a> to use this function
    </p>
</div>




@section Scripts
{
    <script type="text/javascript">
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js"></script>
    <script type="text/javascript">
        var imgUrl = 'http://res.cloudinary.com/vinhloc1996/image/upload/';

        function addToCart(id) {
            var anonymousId = getCookie("AnonymousId");
            $.ajax({
                url: 'http://localhost:5000/' + 'api/cart/addtocart?customerId=' + anonymousId + '&productId=' + id,
                type: "get",
                success: function (val) {
                    var totalPrice = 0;
                    var numberQuantity = 0;
                    if (val.status == 'Success') {
                        var list = val.product;

                        $('.card-detail').remove();

                        for (var i = 0; i < list.length; i++) {
                            if (list[i].productThumbImage == null) {
                                list[i].productThumbImage = 'b5aamndnqugqynwxzmm6';
                            }

                            var element =
                                '<div class="u-basket__product g-brd-none g-px-20 card-detail" product-id="' + list[i].productId +'"> ' +
                                '<div class="row no-gutters g-pb-5"> ' +
                                '<div class="col-4 pr-3"> ' +
                                '<a class="u-basket__product-img" href="#!"> ' +
                                '<img class="img-fluid" src="' +
                                imgUrl +
                                list[i].productThumbImage +
                                '" alt="Image Description"> ' +
                                '</a> ' +
                                '</div> ' +
                                '<div class="col-8"> ' +
                                '<h6 class="g-font-weight-400 g-font-size-default truncate"> ' +
                                '<a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="' +
                                list[i].slug +
                                '">' +
                                list[i].name +
                                '</a> ' +
                                '</h6> ' +
                                '<small class="g-color-primary g-font-size-12">' +
                                list[i].quantity +
                                ' x $' +
                                list[i].displayPrice +
                                '</small> ' +
                                '</div> ' +
                                '</div> ' +
                                '<button type="button" onclick="removeItem(' + list[i].productId + ');" class="u-basket__product-remove">' +
                                'x' +
                                '</button> ' +
                                '</div> ';

                            $(element).appendTo('#mCSB_1_container');
                            totalPrice = totalPrice + (list[i].quantity * list[i].displayPrice);
                            numberQuantity += list[i].quantity;
                        }


                        $('#totalPrice').text('$' + totalPrice.toString());
                        $("#numberQuantity").text(numberQuantity);

                        $.notify({
                            title: '<strong>Add product successful!</strong>',
                            icon: 'glyphicon glyphicon-star',
                            message: 'Product ' + val.productName + ' has been added to your cart.'
                        },
                            {
                                type: 'success',
                                animate: {
                                    enter: 'animated fadeInUp',
                                    exit: 'animated fadeOutRight'
                                },
                                placement: {
                                    from: "top",
                                    align: "right"
                                },
                                offset: 20,
                                spacing: 10,
                                z_index: 1031,
                                delay: 2000,
                                showProgressbar: true,
                                allow_dismiss: true,
                                newest_on_top: false
                            });
                    } else {
                        $.notify({
                            title: '<strong>Add product fail!</strong>',
                            icon: 'glyphicon glyphicon-star',
                            message: val.message
                        },
                            {
                                type: 'danger',
                                animate: {
                                    enter: 'animated fadeInUp',
                                    exit: 'animated fadeOutRight'
                                },
                                placement: {
                                    from: "top",
                                    align: "right"
                                },
                                offset: 20,
                                spacing: 10,
                                z_index: 1031,
                                delay: 2000,
                                showProgressbar: true,
                                allow_dismiss: true,
                                newest_on_top: false
                            });
                    }
                }
            });
        }

        function removeItem(id) {
            var anonymousId = getCookie("AnonymousId");
            $.ajax({
                url: 'http://localhost:5000/' + 'api/cart/RemoveCartItem?customerId=' + anonymousId + '&productId=' + id,
                type: "get",
                success: function (val) {
                    
                    if (val.status == 'Success') {
                        $('div[product-id="' + id + '"]').remove();
                        $('#totalPrice').text('$' + (val.totalPriceRemain || 0));
                        $("#numberQuantity").text((val.quantityRemain || 0));
                        $.notify({
                            title: '<strong>Remove product successful!</strong>',
                            icon: 'glyphicon glyphicon-star',
                            message: val.message
                        },
                            {
                                type: 'success',
                                animate: {
                                    enter: 'animated fadeInUp',
                                    exit: 'animated fadeOutRight'
                                },
                                placement: {
                                    from: "top",
                                    align: "right"
                                },
                                offset: 20,
                                spacing: 10,
                                z_index: 1031,
                                delay: 2000,
                                showProgressbar: true,
                                allow_dismiss: true,
                                newest_on_top: false
                            });
                    } else {
                        $.notify({
                            title: '<strong>Remove product fail!</strong>',
                            icon: 'glyphicon glyphicon-star',
                            message: val.message
                        },
                            {
                                type: 'danger',
                                animate: {
                                    enter: 'animated fadeInUp',
                                    exit: 'animated fadeOutRight'
                                },
                                placement: {
                                    from: "top",
                                    align: "right"
                                },
                                offset: 20,
                                spacing: 10,
                                z_index: 1031,
                                delay: 2000,
                                showProgressbar: true,
                                allow_dismiss: true,
                                newest_on_top: false
                            });
                    }
                }
            });
        }
    </script>
}

@section Styles
    {
    <style type="text/css">
        [data-notify="progressbar"] {
            margin-bottom: 0px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 5px;
        }
        .truncate {
             width: 150px;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
         }
    </style>
}