@using OnovaStore.Areas.Manage.Data
@model OnovaStore.Areas.Manage.Models.Category.EditCategoryViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Edit Category";
}

<div class="row" style="padding-top: 50px">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
            <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Update category</h3>
            <form method="post"
                  asp-controller="Manager" asp-action="EditCategory" asp-area="Manage">

                <input asp-for="CategoryId"/>
                <input asp-for="CategoryImage"/>
                <input asp-for="Slug"/>
                <input asp-for="TotalProduct"/>

                <div class="form-group has-danger g-mb-30" hidden>
                    <label class="g-mb-10">Brand Name</label>
                    <div class="g-pos-rel">
                        <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--error">
                            <i class="hs-admin-close g-absolute-centered g-font-size-default g-color-primary"></i>
                        </span>
                        <input asp-for="Name" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10" type="text" placeholder="Brand Name">
                    </div>
                    <span asp-validation-for="Name" class="form-control-feedback"></span>
                </div>

                <div class="form-group has-danger g-mb-30">
                    <label class="g-mb-10">Select Parent Category</label>

                    <div class="form-group u-select--v3 g-pos-rel g-brd-gray-light-v7 g-rounded-4 mb-0">
                        <div class="btn-group bootstrap-select js-select u-select--v3-select u-sibling w-100">
                            <select class="js-select u-select--v3-select u-sibling w-100" style="display: none;" tabindex="-98" name="ParentCategoryID">
                                <!option value="0" @((Model.ParentCategoryID == 0 || Model.ParentCategoryID == null) ? "selected" : "")>None</!option>
                                @{
                                    if (ViewData["ListCategories"] != null)
                                    {
                                        var list = (List<GetCategoriesDTO>) ViewData["ListCategories"];
                                        foreach (var category in list)
                                        {
                                            <!option value="@category.CategoryId" @(Model.ParentCategoryID == category.CategoryId ? "selected" : "")>
                                                @category.CategoryName
                                            </!option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <div class="d-flex align-items-center g-absolute-centered--y g-right-0 g-color-gray-light-v6 g-color-lightblue-v9--sibling-opened g-mr-15">
                            <i class="hs-admin-angle-down"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group has-danger g-mb-30 ">
                    <label class="g-mb-10">Hidden</label>
                    <div class="g-pos-rel">
                        <label class="form-check-inline u-check g-mr-20 mx-0 mb-0">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="IsHide" id="IsHide" @(Model.IsHide == true ? "checked" : "") type="checkbox" value="@Model.IsHide">

                            <span class="u-check-icon-radio-v7">
                                <i class="fa" data-check-icon=""></i>
                            </span>
                        </label>
                        <input type="hidden" value="false" name="IsHide"/>
                    </div>

                </div>


                <div class="form-group has-danger text-center">@Html.ValidationMessage("OverLength", new {@class = "form-control-feedback"})</div>
                <div asp-validation-summary="All"></div>
                <div class="form-group" style="text-align: center">
                    <button type="submit" class="btn btn-md u-btn-primary rounded-0">Update</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>