@using OnovaStore.Models.Category
@model OnovaStore.Helpers.PaginatedList<OnovaStore.Models.Category.CategoryProducts>
@{
    Layout = "_Layout";
    CategoryInfo category = ViewBag.CategoryInfo;
    ViewBag.Title = category.name;
    var imgUrl = "http://res.cloudinary.com/vinhloc1996/image/upload/";
}
@if (Model != null)
{
    <!-- Products -->
    <div class="container">
        <!-- Banner -->
        <div class="g-bg-size-cover g-bg-pos-center g-py-40 g-mt-50" style="background-image: url(@(imgUrl + category.categoryImage));">
        </div>
        <!-- End Banner -->
        <!-- Filters -->
        <div class="d-flex justify-content-end align-items-center g-brd-bottom g-brd-gray-light-v4 g-pt-40 g-pb-20">
            <!-- Show -->
            <div class="g-mr-60">
                <h2 class="h6 align-middle d-inline-block g-font-weight-400 text-uppercase g-pos-rel g-top-1 mb-0">Show:</h2>
                <!-- Secondary Button -->
                <div class="d-inline-block btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle h6 align-middle g-brd-none g-color-gray-dark-v5 g-color-black--hover g-bg-transparent text-uppercase g-font-weight-300 g-font-size-12 g-pa-0 g-pl-10 g-ma-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewData["DisplayOrder"].ToString()
                    </button>
                    <div class="dropdown-menu rounded-0">
                        <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" asp-route="ViewCategory" asp-route-slug="@ViewData["Slug"].ToString()" asp-route-sortOrder="name">Name A-Z</a>
                        <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" asp-route="ViewCategory" asp-route-sortOrder="name_desc" asp-route-slug="@ViewData["Slug"].ToString()">Name Z-A</a>
                        <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" asp-route="ViewCategory" asp-route-sortOrder="price" asp-route-slug="@ViewData["Slug"].ToString()">Price low to high</a>
                        <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" asp-route="ViewCategory" asp-route-sortOrder="price_desc" asp-route-slug="@ViewData["Slug"].ToString()">Price high to low</a>
                    </div>
                </div>
                <!-- End Secondary Button -->
            </div>
            <!-- End Sort By -->
        </div>
        <!-- End Filters -->
        <!-- Products -->
        <div class="row g-pt-30 g-mb-50">
            @foreach (var product in Model)
            {
                <div class="col-6 col-lg-3 g-mb-30">
                    <!-- Product -->
                    <figure class="g-pos-rel g-mb-20">
                        <img class="img-fluid" src="@(imgUrl + (product.productThumbImage ?? "b5aamndnqugqynwxzmm6"))" alt="Image Description">
                        @if (product.statusCode == "Available")
                        {
                            <figcaption class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                                <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover" href="#!">Available</a>
                            </figcaption>
                        }
                        else if (product.statusCode == "SoldOut")
                        {
                            <figcaption class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                                <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover" href="#!">Sold Out</a>
                            </figcaption>
                        }else if (product.statusCode == "StopSelling")
                        {
                            <figcaption class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                                <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover" href="#!">Stop Selling</a>
                            </figcaption>
                        }
                    </figure>
                    <div class="media">
                        <!-- Product Info -->
                        <div class="d-flex flex-column">
                            <h4 class="h6 g-color-black mb-1">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="@product.slug">
                                    @product.name
                                </a>
                            </h4>
                            <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="@product.brandSlug">@product.brandName</a>
                            <span class="d-block g-color-black g-font-size-17">$@product.displayPrice</span>
                        </div>
                        <!-- End Product Info -->
                        <!-- Products Icons -->
                        <ul class="list-inline media-body text-right">
                            <li class="list-inline-item align-middle mx-0">
                                <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" onclick="addToCart(@product.productId);return false;"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   style="cursor: pointer"
                                   title="Add to Cart">
                                    <i class="icon-finance-100 u-line-icon-pro"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Products Icons -->
                    </div>
                    <!-- End Product -->
                </div>
            }
        </div>
        <!-- End Products -->
        <hr class="g-mb-60">
        <!-- Pagination -->
        <!-- Pagination -->
        <nav class="g-mb-100" aria-label="Page Navigation">
            <ul class="list-inline mb-0">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="list-inline-item hidden-down">
                        @if (i == Model.PageIndex)
                        {
                            <a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded-circle g-pa-5" asp-action="List" asp-route-slug="@ViewData["Slug"].ToString()" asp-route-page="@i" asp-route-sortOrder="@ViewData["SortOrder"].ToString()">@i</a>
                        }
                        else
                        {
                            <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" asp-action="List" asp-route-slug="@ViewData["Slug"].ToString()" asp-route-page="@i" asp-route-sortOrder="@ViewData["SortOrder"].ToString()">@i</a>
                        }

                    </li>
                }


                <li class="list-inline-item float-right">
                    <span class="u-pagination-v1__item-info g-color-gray-dark-v4 g-font-size-12 g-pa-5">Page @ViewData["CurrentPage"].ToString() of @Model.TotalPages</span>
                </li>
            </ul>
        </nav>
        <!-- End Pagination -->
    </div>
    <!-- End Products -->

}
else
{
    <div class="container text-center g-py-100">
        <div class="mb-5">
            <span class="d-block g-color-gray-light-v1 g-font-size-70 g-font-size-90--md mb-4">
                <i class="icon-hotel-restaurant-105 u-line-icon-pro"></i>
            </span>
            <h2 class="g-mb-30">Currently, There are no products in this brand</h2>
            <p>
                Please go back!
            </p>
        </div>
        <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" href="@Url.Action("Index", "Home")">Back to home</a>
    </div>
}

