@inject System.Security.Claims.IClaimPrincipalManager claimManager

@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var viewName = ViewContext.RouteData.Values["action"].ToString().ToLower();
}

@if (claimManager.IsAuthenticated)
{
    <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
        <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
            <li class="u-sidebar-navigation-v1-menu-item u-side-nav--top-level-menu-item ">
                @if (claimManager.Role == "CustomerSupport")
                {
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "support" && (viewName == "index" || viewName == "") ? "active" : "")" href="@Url.Action("Index", "Support", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-home"></i>
                        </span>
                        <span class="media-body align-self-center">Index</span>
                    </a>

                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "support" && viewName == "listreview" ? "active" : "")" href="@Url.Action("Reviews", "Support", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-check-box"></i>
                        </span>
                        <span class="media-body align-self-center">Reviews</span>
                    </a>

                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "support" && viewName == "listquestion" ? "active" : "")" href="@Url.Action("Questions", "Support", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-help-alt"></i>
                        </span>
                        <span class="media-body align-self-center">Questions</span>
                    </a>


//Temporary not implement
            @*                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "support" && viewName == "listquestion" ? "active" : "")" href="@Url.Action("SupportStatistic", "Support", new {area = "Manage"})">*@
            @*                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">*@
            @*                            <i class="hs-admin-stats-up"></i>*@
            @*                        </span>*@
            @*                        <span class="media-body align-self-center">Statistics</span>*@
            @*                    </a>*@
                }

                @if (claimManager.Role == "ProductManager")
                {
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "manager" && (viewName == "index" || viewName == "") ? "active" : "")" href="@Url.Action("Index", "Manager", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-home"></i>
                        </span>
                        <span class="media-body align-self-center">Index</span>
                    </a>

                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "manager" && viewName == "listreview" ? "active" : "")" href="@Url.Action("UploadImage", "Manager", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-image"></i>
                        </span>
                        <span class="media-body align-self-center">Upload Image(Test)</span>
                    </a>

                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "manager" && viewName == "products" ? "active" : "")" href="@Url.Action("Products", "Manager", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-package"></i>
                        </span>
                        <span class="media-body align-self-center">Products</span>
                    </a>

                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "manager" && viewName == "brands" ? "active" : "")" href="@Url.Action("Brands", "Manager", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-crown"></i>
                        </span>
                        <span class="media-body align-self-center">Brands</span>
                    </a>
                
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "manager" && viewName == "categories" ? "active" : "")" href="@Url.Action("Categories", "Manager", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-view-list"></i>
                        </span>
                        <span class="media-body align-self-center">Categories</span>
                    </a>
                
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName == "manager" && viewName == "promotions" ? "active" : "")" href="@Url.Action("Promotions", "Manager", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-gift"></i>
                        </span>
                        <span class="media-body align-self-center">Promotions</span>
                    </a>
                }
            </li>
        </ul>
    </div>
}