@model dynamic
@{
    Layout = "_Layout";
    ViewBag.Title = "User Setting";
}

<div class="container g-pt-70 g-pb-30">
    <div class="row">
        <!-- Profile Settings -->
        <div class="col-lg-3 g-mb-50">
            <aside class="g-brd-around g-brd-gray-light-v4 rounded g-px-20 g-py-30">
                <!-- Profile Picture -->
                <div class="text-center g-pos-rel g-mb-30">
                    <span class="d-block g-font-weight-500">@Model.fullName</span>
                    <span class="u-icon-v3 u-icon-size--xs g-color-white--hover g-bg-primary--hover rounded-circle g-pos-abs g-top-0 g-right-15 g-cursor-pointer" 
                          data-toggle="tooltip"
                          data-placement="top">
                        <i class="icon-finance-067 u-line-icon-pro"></i>
                    </span>
                </div>
                <!-- End Profile Picture -->

                <hr class="g-brd-gray-light-v4 g-my-30">

                <!-- Profile Settings List -->
                <ul class="list-unstyled mb-0">
                    <li class="g-pt-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3 active g-color-primary--parent-active g-bg-gray-light-v5--active" href="@Url.Action("UserInformation", "AccountSetting")">
                            <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-hotel-restaurant-002 u-line-icon-pro"></i></span>
                            User Settings
                        </a>
                    </li>
                    <li class="g-py-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="@Url.Action("Order", "AccountSetting")">
                            <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-114 u-line-icon-pro"></i></span>
                            Your Orders
                        </a>
                    </li>
                    <li class="g-py-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="@Url.Action("ChangePassword", "AccountSetting")">
                            <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-135 u-line-icon-pro"></i></span>
                            Change Password
                        </a>
                    </li>
                </ul>
                <!-- End Profile Settings List -->
            </aside>
        </div>
        <!-- End Profile Settings -->
        <!-- Login & Security -->
        <div class="col-lg-9 g-mb-50">
            <!-- Info -->
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
                <div class="row">
                    <div class="col-12">
                        <form asp-action="UserInformation" method="post" class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
                            <div class="form-group g-mb-20">
                                <label class="g-mb-10" for="Email">Email</label>
                                <input id="Email" disabled class="form-control form-control-md rounded-0" value="@Model.email" type="email" placeholder="Enter email">
                            </div>

                            <h4 class="h6 g-font-weight-700 g-mb-20">Gender</h4>
                            <div class="g-mb-15">
                                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" value="male" name="gender" type="radio" @(Model.gender == true ? "checked" : "") />
                                    <span class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                                        <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                                    </span>
                                    Male
                                </label>

                                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" @(Model.gender != true ? "checked" : "") value="female" name="gender" type="radio">
                                    <span class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                                        <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                                    </span>
                                    Female
                                </label>
                            </div>

                            <div class="form-group g-mb-20">
                                <label class="g-mb-10" for="FullName">Full Name</label>
                                <input id="FullName" name="FullName" class="form-control form-control-md rounded-0" value="@Model.fullName" type="text" placeholder="Enter your name">
                            </div>

                            <div class="form-group g-mb-20">
                                <label class="g-mb-10">Date of Birth</label>
                                <div class="input-group g-brd-primary--focus">
                                    <input id="DOB" name="DOB" value="@Model.dob.ToString("dd.MM.yyyy")" class="form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0" type="text" placeholder="Enter your birthdate">
                                    <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-dark-v5 rounded-0">
                                        <i class="icon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Info -->

            
        </div>
        <!-- End Login & Security -->
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/html/assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
}

@section Scripts
{
    <!-- jQuery UI Core -->
    <script  src="~/html/assets/vendor/jquery-ui/ui/widget.js"></script>
    <script  src="~/html/assets/vendor/jquery-ui/ui/version.js"></script>
    <script  src="~/html/assets/vendor/jquery-ui/ui/keycode.js"></script>
    <script  src="~/html/assets/vendor/jquery-ui/ui/position.js"></script>
    <script  src="~/html/assets/vendor/jquery-ui/ui/unique-id.js"></script>
    <script  src="~/html/assets/vendor/jquery-ui/ui/safe-active-element.js"></script>

    <!-- jQuery UI Helpers -->
    <script  src="~/html/assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
    <script  src="~/html/assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

    <!-- jQuery UI Widgets -->
    <script  src="~/html/assets/vendor/jquery-ui/ui/widgets/datepicker.js"></script>

    <!-- JS Unify -->
    <script  src="~/html/assets/js/components/hs.datepicker.js"></script>

    <!-- JS Plugins Init. -->
    <script >
        $(document).on('ready', function () {
            // initialization of forms
            $.HSCore.components.HSDatepicker.init('#DOB');
        });
    </script>
}
